/differential-gene-analysis/*.csv
/differential-gene-analysis/GSE31102/
/differential-gene-analysis/config
.Rhistory
*.Rproj
/upreg-downreg-genes/*.csv
/upreg-downreg-genes/config
*.pdf
/volcano-plot/config
